<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>servlet-context-config</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  
  <filter>
  	<filter-name>IdFilter</filter-name>
  	<filter-class>com.codeyogi.filter.IdFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>IdFilter</filter-name>
  	<url-pattern>/addUser</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>NameFilter</filter-name>
  	<filter-class>com.codeyogi.filter.NameFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>NameFilter</filter-name>
  	<url-pattern>/addUser</url-pattern>
  </filter-mapping>
</web-app>